# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

\.DS_Store
/SWroten_Project
/SWrotenModule10Assignment/SWrotenModule10Assignment.VC.db
/SWrotenModule10Assignment/SWrotenModule10Assignment.VC.VC.opendb
/SWrotenModule10Assignment/.vs/SWrotenModule10Assignment/v14
/SWrotenModule10Assignment/Debug
/SWrotenModule10Assignment/SWrotenModule10Assignment/Debug/SWrotenM.E99F5DFC.tlog
/SWrotenModule10Assignment/SWrotenModule10Assignment/Debug
